Repository shinyjohn0401/react-cool-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

Sometime jest configs need some third-party configuration or needs to have some libraries. having it inside a separated JavaScript configuration causes having more flexibility in future.
  jest.config.js
Due: eslint --fix

make a separated json file for having nodemon configs.
  nodemon.json
Due: prettier --write

chore: test ci.yml
  .github/workflows/ci.yml
  .travis.yml
Due: prettier --write

chore: test ci.yml
  .github/workflows/ci.yml
Due: prettier --write

chore: test ci.yml
  .github/workflows/ci.yml
  README.md
Due: prettier --write

chore: migrate to GitHub workflow
  .travis.yml
  package.json
Due: prettier --write

chore: bump version
  package.json
Due: prettier --write

chore: ignore tags
  .github/workflows/ci.yml
Due: prettier --write

chore: correct eslint jest env
  package.json
Due: prettier --write

upgrade: deps
  package.json
Due: prettier --write

refactor: enhance types
  src/actions/user.ts
  src/actions/users.ts
  src/app/index.tsx
  src/client.tsx
  src/components/ErrorBoundary/index.tsx
  src/components/Loading/index.tsx
  src/pages/Home/Home.tsx
  src/pages/Home/__tests__/Home.test.tsx
  src/pages/Home/index.js
  src/pages/UserInfo/UserInfo.tsx
  src/pages/UserInfo/__tests__/UserInfo.test.tsx
  src/pages/UserInfo/index.js
  src/reducers/home.ts
  src/reducers/index.ts
  src/reducers/userInfo.ts
  src/routes.ts
  src/server.tsx
  src/types/globals.d.ts
  src/types/index.ts
  src/utils/configureStore.ts
  src/utils/mockStore.tsx
  src/utils/renderHtml.ts
Due: eslint --fix

chore: adjust ci.yml
  .github/workflows/ci.yml
  README.md
Due: prettier --write

docs: update build badge
  README.md
Due: prettier --write

chore: refine GitHub CI
  .github/workflows/ci.yml
Due: prettier --write

chore: remove un-necessary dep
  package.json
Due: prettier --write

docs(README): use .json sytanx
  README.md
Due: prettier --write

chore: remove un-necessary comments
  src/actions/__tests__/user.test.ts
  src/actions/__tests__/users.test.ts
Due: eslint --fix

refactor: refine variable names
  src/app/__tests__/App.test.tsx
Due: eslint --fix

refactor: use redux hooks
  src/pages/Home/Home.tsx
  src/pages/Home/__tests__/Home.test.tsx
  src/pages/UserInfo/UserInfo.tsx
  src/pages/UserInfo/__tests__/UserInfo.test.tsx
Due: eslint --fix

chore: upgrade deps & bump version
  package.json
  src/pages/Home/__tests__/Home.test.tsx
  src/pages/UserInfo/__tests__/UserInfo.test.tsx
Due: eslint --fix, prettier --write

docs(README): refine universal fetching examples
  README.md
Due: prettier --write

Create FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

Update FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

Fix the commented issues on code review. Migrating back the "browser", "husky" and "lint state" configuration to the package.json file.
  .browserslistrc
  .huskyrc
  .lintstagedrc
  jest.config.js
  package.json
Due: eslint --fix, prettier --write

chore: shorten babel plugins
  .babelrc
Due: none

fix: correct eslint rule
  .eslintrc
  index.ts
  jest.config.js
  postcss.config.js
  src/actions/__tests__/user.test.ts
  src/actions/__tests__/users.test.ts
  src/actions/user.ts
  src/actions/users.ts
  src/app/__tests__/App.test.tsx
  src/components/UserCard/__tests__/UserCard.test.tsx
  src/config/default.ts
  src/pages/Home/__tests__/Home.test.tsx
  src/pages/Home/index.js
  src/pages/UserInfo/__tests__/UserInfo.test.tsx
  src/pages/UserInfo/index.js
  src/reducers/__tests__/home.test.ts
  src/reducers/__tests__/userInfo.test.ts
  src/reducers/home.ts
  src/reducers/index.ts
  src/reducers/userInfo.ts
  src/routes.ts
  src/server.tsx
  src/utils/configureStore.ts
  src/utils/renderHtml.ts
  tools/webpack/config.babel.js
  tools/webpack/hooks.js
Due: eslint --fix

chore: allow *.lock
  .gitignore
Due: none

upgrade: eslint-config-airbnb v18.2.0
  package.json
Due: prettier --write

update: yarn.lock
  yarn.lock
Due: none

chore: refine stylelint config
  .stylelintrc
Due: none

refactor: ignore necessary files only
  .gitignore
Due: none

refactor: consist comment
  .gitignore
Due: none

fix: ThunkAction type
  src/types/index.ts
Due: eslint --fix

docs(readme): fix typo
  README.md
Due: prettier --write

fix: styles broken in production
  package.json
  tools/webpack/config.babel.js
  yarn.lock
Due: eslint --fix, prettier --write

refactor: use correct types
  src/app/index.tsx
  src/client.tsx
Due: eslint --fix

feat: rename global type file
  src/types/index.d.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  stylelint --fix: any of: *.{css,scss,sass}
  prettier --write: any of: *.{json,md,yml}
