Repository shinyjohn0401/react-cool-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": "eslint --fix",
  "*.{css,scss,sass}": "stylelint --fix",
  "*.{json,md,yml}": "prettier --write"
}

Refactor: remove `@babel/plugin-proposal-class-properties` dep
  babel.config.json
  package.json
Due: prettier --write

Feat: migrate to React v17 & upgrade deps
  .eslintrc.js
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  README.md
  babel.config.json
  package.json
  src/app/__tests__/App.tsx
  src/app/index.tsx
  src/client/index.tsx
  src/components/ErrorBoundary/__tests__/ErrorBoundary.tsx
  src/components/ErrorBoundary/index.tsx
  src/components/Info/__tests__/Info.tsx
  src/components/Info/index.tsx
  src/components/List/__tests__/List.tsx
  src/components/List/index.tsx
  src/components/Loading/__tests__/Loading.tsx
  src/components/Loading/index.tsx
  src/pages/Home/Home.tsx
  src/pages/Home/__tests__/Home.tsx
  src/pages/NotFound/__tests__/NotFound.tsx
  src/pages/NotFound/index.tsx
  src/pages/UserInfo/UserInfo.tsx
  src/pages/UserInfo/__tests__/UserInfo.tsx
  src/server/renderHtml.ts
  src/server/ssr.tsx
  src/utils/mockStore.tsx
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Refactor: adjust HTML template
  package.json
  src/server/renderHtml.ts
Due: eslint --fix, prettier --write

Refactor: adjust comment
  tools/webpack/hooks.js
Due: eslint --fix

Chore: remove resolve.descriptionFiles
  tools/webpack/config.babel.js
Due: eslint --fix

Chore: remove unnecessary `--progress` command
  package.json
Due: prettier --write

Feat: webpack server-side bundle
  .eslintignore
  .github/workflows/ci.yml
  README.md
  babel.config.js
  babel.config.json
  index.ts
  nodemon.json
  package.json
  postcss.config.js
  src/pages/Home/index.js
  src/pages/UserInfo/index.js
  src/server/devServer.ts
  src/server/index.ts
  src/server/ssr.tsx
  tools/webpack/base.config.ts
  tools/webpack/client.config.ts
  tools/webpack/config.babel.js
  tools/webpack/hooks.js
  tools/webpack/server.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

Chore: bump version
  package.json
Due: prettier --write

Fix: node.js v12 bundling failed
  babel.config.js
Due: eslint --fix

Chore(CI): remove node.js v16
  .github/workflows/ci.yml
Due: prettier --write

Fix(webpack): css modules not working automatically
  package.json
  tools/webpack/base.config.ts
Due: eslint --fix, prettier --write

Docs(readme): update features section
  README.md
Due: prettier --write

Refactor: add `webpack` and `jest` folder, remove `tool` folder
  README.md
  jest/assetMock.ts
  jest/config.js
  jest/setup.ts
  jest/styleMock.ts
  nodemon.json
  package.json
  src/server/devServer.ts
  webpack/base.config.ts
  webpack/client.config.ts
  webpack/server.config.ts
Due: eslint --fix, prettier --write

Refactor: better code-splitting
  README.md
  src/components/ErrorBoundary/index.tsx
  src/components/Info/index.tsx
  src/components/List/index.tsx
  src/components/Loading/index.tsx
  src/pages/Home/Home.tsx
  src/pages/Home/index.js
  src/pages/Home/index.tsx
  src/pages/UserInfo/UserInfo.tsx
  src/pages/UserInfo/index.tsx
  src/pages/index.ts
  src/routes/index.ts
Due: eslint --fix, prettier --write

Chore: skip page index file from testing coverage
  jest/config.js
Due: eslint --fix

Update server.config.ts
  webpack/server.config.ts
Due: eslint --fix

Refactor(webpack): enable sourcempa for SSR
  package.json
  webpack/server.config.ts
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

Refactor: pass props down to <Home /> & refine types
  src/pages/Home/Home.tsx
  src/pages/Home/__tests__/Home.tsx
  src/pages/Home/index.tsx
  src/pages/NotFound/__tests__/NotFound.tsx
  src/pages/NotFound/index.tsx
  src/pages/UserInfo/UserInfo.tsx
  src/pages/UserInfo/__tests__/UserInfo.tsx
  src/routes/index.ts
  src/server/ssr.tsx
Due: eslint --fix

Feat(renderHTML): add theme-color meta tag
  package.json
  src/server/renderHtml.ts
Due: eslint --fix, prettier --write

Chore(package.json): remove main field
  package.json
Due: prettier --write

Docs(readme): update deploy section
  README.md
Due: prettier --write

Refactor: refine types
  src/server/renderHtml.ts
  src/store/index.ts
Due: eslint --fix

Docs(readme): add pre-fetching/pre-loading notes & refine script commands
  README.md
Due: prettier --write

Chore(bug_report): add node.js version to environment
  .github/ISSUE_TEMPLATE/bug_report.md
  yarn.lock
Due: prettier --write

Chore: simplify babel presets name
  babel.config.js
Due: eslint --fix

Upgrade: internal deps
  package.json
  yarn.lock
Due: prettier --write

Feat: enable live reload
  webpack/client.config.ts
Due: eslint --fix

Fix: fix HMR not working by temporary workaround
  package.json
  src/client/index.tsx
Due: eslint --fix, prettier --write

Refactor(store): use for server-side checking
  src/store/index.ts
Due: eslint --fix

Create SECURITY.md
  SECURITY.md
Due: prettier --write

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: prettier --write

Docs: update links
  README.md
Due: prettier --write

Docs: update links
  CONTRIBUTING.md
Due: prettier --write

Update ci.yml
  .github/workflows/ci.yml
Due: prettier --write
