Repository shinyjohn0401/react-cool-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": "eslint --fix",
  "*.{css,scss,sass}": "stylelint --fix",
  "*.{json,md,yml}": "prettier --write"
}

Update ci.yml
  .github/workflows/ci.yml
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore: upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(jest): use `jsdom` environment
  jest/config.js
Due: eslint --fix

refactor: format code
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  src/store/userData.ts
Due: eslint --fix, prettier --write

chore: upgrade dependencies & remove style-loader
  .husky/.gitignore
  package.json
  yarn.lock
Due: prettier --write

feat: use stylelint-config-sass-guidelines and stylelint-order
  .stylelintrc.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

Update ErrorBoundary.tsx
  src/components/ErrorBoundary/__tests__/ErrorBoundary.tsx
Due: eslint --fix

Update Info.tsx
  src/components/Info/__tests__/Info.tsx
Due: eslint --fix

Update Loading.tsx
  src/components/Loading/__tests__/Loading.tsx
Due: eslint --fix

Update List.tsx
  src/components/List/__tests__/List.tsx
Due: eslint --fix

Update package.json
  package.json
Due: prettier --write

chore(webpack): optimize build performance
  webpack/client.config.ts
Due: eslint --fix

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: prettier --write

chore: update CI
  .github/workflows/ci.yml
Due: prettier --write

chore: upgrade node-sass to v7.0.1
  package.json
  yarn.lock
Due: prettier --write
