Repository shinyjohn0401/react-cool-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

fix: type errors
  tsconfig.json
Due: prettier --write

chore: remove `.editorconfig` filechore: remove .editorconfig
  .editorconfig
Due: none

chore(webpack): remove cache option & use "-loader" suffix
  tools/webpack/config.babel.js
Due: eslint --fix

adjust webpack config & adjust the setup of loadable-components
  src/server/ssr.tsx
  tools/webpack/config.babel.js
  tools/webpack/hooks.js
Due: eslint --fix

upgrade: css-loader from v4.3.0 to v5.0.0
  package.json
  tools/webpack/config.babel.js
  yarn.lock
Due: eslint --fix, prettier --write

upgrade dependencies
  package.json
  tools/webpack/config.babel.js
  yarn.lock
Due: eslint --fix, prettier --write

fix: downgrade terser-webpack-plugin to v4.2.3
  package.json
  yarn.lock
Due: prettier --write

fix: style broken in production
  tools/webpack/config.babel.js
Due: eslint --fix

refactor: move port and hostname to config
  package.json
  src/config/default.ts
  src/config/prod.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: style broken in development
  src/server/ssr.tsx
  tools/webpack/config.babel.js
Due: eslint --fix

refactor: simplifying the setup of loadable-components
  src/server/ssr.tsx
Due: eslint --fix

chore: bump version
  package.json
Due: prettier --write

chore: use contenthash instead chunkhash
  tools/webpack/config.babel.js
Due: eslint --fix

use react-fresh instead react-hot-loader & reifne webpack config & remove webpack environment plugin
  .babelrc
  README.md
  index.ts
  nodemon.json
  package.json
  src/app/index.tsx
  src/client/index.tsx
  src/pages/Home/Home.tsx
  src/server/devServer.ts
  src/store/index.ts
  src/types/index.d.ts
  tools/webpack/config.babel.js
  tools/webpack/hooks.js
  yarn.lock
Due: eslint --fix, prettier --write

fix: remove test wording
  src/pages/Home/Home.tsx
Due: eslint --fix

chore: remove @babel/plugin-syntax-dynamic-import
  .babelrc
  package.json
  yarn.lock
Due: prettier --write

upgrade: dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: support node.js v15
  .github/workflows/ci.yml
Due: prettier --write

ci: use coverallsapp/github-action@master
  .github/workflows/ci.yml
Due: prettier --write

chore: adjust script command
  .github/workflows/ci.yml
  CONTRIBUTING.md
  README.md
  package.json
Due: prettier --write

ci: adjust config
  .github/workflows/ci.yml
Due: prettier --write

ci: correct tags-ignore
  .github/workflows/ci.yml
Due: prettier --write

chore: refine config for syntax checking and highlighting
  .eslintrc.js
  .stylelintrc
  .stylelintrc.js
  babel.config.json
Due: eslint --fix, prettier --write

chore: update code_of_conduct.md
  CODE_OF_CONDUCT.md
Due: prettier --write

chore: move redux-thunk from devDependencies to dependencies
  package.json
Due: prettier --write

chore(lint): add "@typescript-eslint/no-use-before-define" rule
  .eslintrc.js
Due: eslint --fix

chore: change "Typescript" to "TypeScript"
  .github/PULL_REQUEST_TEMPLATE.md
  tools/webpack/config.babel.js
Due: eslint --fix, prettier --write

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Due: prettier --write

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

chore: update bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

Docs(readme): add real case study
  README.md
Due: prettier --write

Chore: migrate to husky v5
  .husky/.gitignore
  .husky/pre-commit
  .husky/pre-push
  package.json
  yarn.lock
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

Chore(package.json): add `private` field
  package.json
Due: prettier --write

Chore: adjust husky installation
  package.json
  yarn.lock
Due: prettier --write

Chore: bump version
  package.json
Due: prettier --write

Chore: drop Node.js v10
  .github/workflows/ci.yml
  README.md
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Feat: migrate to Webpack v5
  README.md
  package.json
  src/app/index.tsx
  src/client/index.tsx
  src/server/devServer.ts
  tools/webpack/config.babel.js
  tools/webpack/hooks.js
  yarn.lock
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  stylelint --fix: any of: *.{css,scss,sass}
  prettier --write: any of: *.{json,md,yml}
