Repository shinyjohn0401/react-cool-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

fix: CSP error
  package.json
  src/server.tsx
Due: eslint --fix, prettier --write

upgrade: typescript from v3.9.x to v4.0.x & other deps
  package.json
  src/app/__tests__/App.tsx
  src/pages/index.ts
  src/server.tsx
  src/store/__tests__/userData.ts
  src/store/__tests__/userList.ts
  yarn.lock
Due: eslint --fix, prettier --write

upgrade deps and bump version
  package.json
  yarn.lock
Due: prettier --write

refactor: refine app structure
  README.md
  src/client/index.tsx
  src/routes/index.ts
  src/server.tsx
  src/server/devServer.ts
  src/server/index.ts
  src/server/renderHtml.ts
  src/server/ssr.tsx
  tools/webpack/config.babel.js
Due: eslint --fix, prettier --write

feat: auto eanble css modules by using [name].module.* naming convention
  README.md
  package.json
  src/app/index.tsx
  src/app/styles.module.scss
  src/components/Info/index.tsx
  src/components/Info/styles.module.scss
  src/components/List/index.tsx
  src/components/List/styles.module.scss
  src/components/Loading/index.tsx
  src/components/Loading/styles.module.scss
  src/pages/Home/Home.tsx
  src/pages/Home/styles.module.scss
  src/pages/NotFound/index.tsx
  src/pages/NotFound/styles.module.scss
  src/pages/UserInfo/UserInfo.tsx
  src/pages/UserInfo/styles.module.scss
  src/server/devServer.ts
  tools/webpack/config.babel.js
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

fix: css modules not working in production
  package.json
  tools/webpack/hooks.js
  yarn.lock
Due: eslint --fix, prettier --write

chore: remove yarn.lock
  yarn.lock
Due: none

chore: update yarn.lock
  yarn.lock
Due: none

chore: clean nu-necessary config
  tools/webpack/config.babel.js
Due: eslint --fix

chore: bump version
  package.json
Due: prettier --write

chore: remove babel-plugin-dynamic-import-node
  index.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

docs: correct feature section
  README.md
Due: prettier --write

upgrade deps
  package.json
  yarn.lock
Due: prettier --write

upgrade dep
  package.json
  yarn.lock
Due: prettier --write

chore: adjust webpack config
  tools/webpack/config.babel.js
Due: eslint --fix

chore: re-branding
  CONTRIBUTING.md
  README.md
  public/manifest.json
  src/app/__tests__/__snapshots__/App.tsx.snap
  src/app/index.tsx
  src/config/default.ts
Due: eslint --fix, prettier --write

fix: testing error
  src/app/__tests__/__snapshots__/App.tsx.snap
Due: none

upgrade deps & bump version
  package.json
  yarn.lock
Due: prettier --write

feat: enable strict type
  src/app/__tests__/App.tsx
  src/pages/UserInfo/UserInfo.tsx
  src/store/rootReducer.ts
  src/store/userData.ts
  src/store/userList.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: use enum throws no-shadow error
  .eslintrc
Due: none

chore: remove un-necessary rules
  .eslintrc
Due: none

fix build error & upgrade deps
  package.json
  yarn.lock
Due: prettier --write

perf: reduce bundle size by @babel/plugin-transform-runtime
  .babelrc
  package.json
  tools/webpack/config.babel.js
  yarn.lock
Due: eslint --fix, prettier --write

docs: add BAM Music as the real case study
  README.md
Due: prettier --write

chore: adjust lint-staged config
  package.json
Due: prettier --write

chore: add .prettierignore
  .prettierignore
Due: none

chore: downgrade css-loader version to v4.3.0
  package.json
  yarn.lock
Due: prettier --write

chore: enable all react hooks rules
  .eslintrc
Due: none

refactor: add neccesary hook dependencies
  src/pages/Home/Home.tsx
  src/pages/UserInfo/UserInfo.tsx
Due: eslint --fix

chore: use prettier CLI instead of eslint/stylelint integration
  .eslintrc
  .stylelintrc
  CONTRIBUTING.md
  README.md
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade version
  package.json
Due: prettier --write

chore: remove .prettierrc
  .prettierrc
Due: none

docs(README): correct the description of "lint:format"
  README.md
Due: prettier --write

chore: update bug report
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

chore: adjust tsconfig.json
  package.json
  tsconfig.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  stylelint --fix: any of: *.{css,scss,sass}
  prettier --write: any of: *.{json,md,yml}
